<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Friendly bakery catalog</title>
</head>
<body>

<%= %>

  <ul class="collection">
    <li class="collection-item avatar">
      <img src="<%= @cookies[:cookie9].src %>" alt="" class="circle">
      <span class="title"><%= @cookies[:cookie9].title %></span>
      <p><%= @cookies[:cookie9].price %> <br>
         <%= @cookies[:cookie9].description %>
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  </ul>
</body>
</html>