require '/cookies.rb'
<%# first row %>
  <section id="cookies" class="section section-popular scrollspy">
    <div class="container">
      <div class="row">
        <h4 class="center"><span class="teal-text">Our Delicious</span> Cookies</h4>

        <%= cookies.each do |cookie| %>
        <%= cookie.title %>
        <%= cookie.description %>
        <%= cookie.price %>
        <%= cookie.src %>

        <div class="col s12 m4">
          <div class="card">  
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="<%= cookies.src %>">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">
              <%= cookies.title %><i class="material-icons right">more_vert</i></span>
              <p><a href="#"><%= cookies.price %></a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><%= cookies.title %><i class="material-icons right">close</i></span>
              <p><%= cookies.description %></p>
            </div>
          </div> 
        </div>
      <% end %>
        